<ion-header-bar class="bar-dark">
	<div class="h1 title">登入</div>
</ion-header-bar>
		

<div style="background-color:white">
<ion-content>
				
	<div class="button-bar">
        <a class="button" style='margin: 5px;' ng-click="login()">使用OAuth登入</a>
	</div>						
	<div class="button-bar">
        <a class="button" style='margin: 5px;' ng-click="goToOAuthConsole()">至OAuth console切換登入帳號</a>
	</div>
    
    
    <div style="text-align:center;">
        切換登入帳號步驟:<br>
        1.點擊"至OAuth console切換登入帳號"，到OAuth console登出原本的帳號。<br>
        2.在OAuth console登入欲使用之帳號。<br>
        3.回到此頁面點擊"使用OAuth登入"。<br>
    </div>
    
	</ion-content>
</div>
