<ion-header-bar class="bar-dark">
    <button class="button button-icon" ng-click="goBack()">
        <i class="icon ion-android-arrow-back"></i>
	</button>
	<div class="h1 title">活動詳情</div>
</ion-header-bar>
		

<div style="background-color:white">
	<ion-content>
							
	<div class="list">
		<label class="item item-input item-stacked-label">
            <span class="input-label">活動名稱</span>
            <input type="text" ng-model="evnt.name">
		</label>
        <label class="item item-input item-stacked-label">
			<span class="input-label">開始日期、時間</span>
			<input type="text" ng-model="dateStarted">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">結束日期、時間</span>
			<input type="text" ng-model="dateEnded">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">活動編號</span>
			<input type="text" value="{{evnt.id}}" disabled style="background:white;">
		</label>
	</div>
	
    <div class="button-bar">
        <a class="button" style='margin: 5px;' nav-transition="android" ng-click="goSignIn()" >開始簽到</a>
    </div>
	<div class="button-bar">
		<a class="button" style='margin: 5px;' nav-transition="android" ng-click="goCheck()">檢視簽到內容</a>
	</div>
    <div class="button-bar">
		<a class="button" style='margin: 5px;' nav-transition="android" ng-click="openSignRecordURL()">簽到表網址</a>
	</div>
	<div class="button-bar">
		<a class="button" style='margin: 5px;' ng-click="upDateEvent(evnt.name, dateStarted, dateEnded)">儲存</a>
    </div>
    <div class="button-bar">
		<a class="button" style='margin: 5px;' ng-click="delEvent()">刪除</a>
    </div>
							
							
						
						
	</ion-content>
</div>